
__pycache__/scrape_mars.cpython-37.pyc
.ipynb_checkpoints/mission_to_mars-checkpoint.ipynb
.ipynb_checkpoints/mission_to_mars-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/mission_to_mars-checkpoint.ipynb
